adf/pipeline/pl_ingest_formula1_data.json
{
	"name": "pl_ingest_formula1_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"description": "Check whether the data is available for the week or not",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_formula1_raw",
						"type": "DatasetReference",
						"parameters": {
							"p_window_end_date": {
								"value": "@pipeline().parameters.p_window_end_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Ingest Circuits file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/sivacheruku777@gmail.com/F1RacingData-UtilisingAzureServices/Formula1_source_code/ingestion/1_ingest_circuits_csv",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Races file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/sivacheruku777@gmail.com/F1RacingData-UtilisingAzureServices/Formula1_source_code/ingestion/2_ingest_races_csv",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Constructors file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/sivacheruku777@gmail.com/F1RacingData-UtilisingAzureServices/Formula1_source_code/ingestion/3_ingest_constructors_json",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Drivers file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/sivacheruku777@gmail.com/F1RacingData-UtilisingAzureServices/Formula1_source_code/ingestion/4_ingest_drivers_json",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Results file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/sivacheruku777@gmail.com/F1RacingData-UtilisingAzureServices/Formula1_source_code/ingestion/5_ingest_results_json",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Pit Stops file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/sivacheruku777@gmail.com/F1RacingData-UtilisingAzureServices/Formula1_source_code/ingestion/6_ingest_pitstops_multiLine_json",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Lap Times file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/sivacheruku777@gmail.com/F1RacingData-UtilisingAzureServices/Formula1_source_code/ingestion/7_ingest_lap_times_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingest Qualifying file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/sivacheruku777@gmail.com/F1RacingData-UtilisingAzureServices/Formula1_source_code/ingestion/8_ingest_qualifying_multiLine_json_folder",
								"baseParameters": {
									"p_data_source": {
										"value": "@variables('v_data_source')",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course_ws",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String",
				"defaultValue": "Ergast"
			}
		},
		"annotations": []
	}
}